*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100vh;
}

.border--display{
  border: 1px solid red;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  z-index: 99;
}
.logo{
  float: left;
}
.toggleBtn{
  float: right;
  width: 50px;
  .close{
    span{
      background-color: white;
      transform: rotate(405deg) translateY(-8px);
      &:nth-child(1){
        transform: rotate(-405deg) translateY(8px);
      }
    }
  }
  span{
    width: 50px;
    height: 2px;
    display: inline-block;
    float: left;
    background-color: black;
    margin: 5px 0px;
    transition: all ease 0.5s 0.4s;
  }
}
.swiper-container {
  width: 100%;
  height: 100vh;
}
.swipper-wrapper{
  transition-delay: .4s;
}
.swiper-slide{
  overflow: hidden;
  transition: all cubic-bezier(.57,.01,.45,1.03)0.5s;
  // A MODIFIER START
  &:nth-child(1){
    background-color: lightcoral;
  }
  &:nth-child(2){
    background-color: lightsalmon;
  }
  &:nth-child(3){
    background-color: lightcoral;
  }
  // A MODIFIER END
  img{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
  }
}
.caption{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 25%;
  display: flex;
  flex-wrap: nowrap;
  h1{
    padding: 0 25px;
    position: relative;
    font-size: 180px;
    color: white;
    white-space: nowrap;
    animation: infiniteText 10s linear infinite;
  }
  @keyframes infiniteText {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-50%);
    }
  }
}
.clone {
  position: absolute !important;
  top: 0;
  left: 0;
  color: transparent !important;
  -webkit-text-stroke: white;
  -webkit-text-stroke-width: 3px;
  z-index: 2;
}
.circular-text{
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 212px;
  height: 212px;
  z-index: 9;
  animation: circularText 15s linear infinite;
  @keyframes circularText {
    100% {
      transform: rotate(360deg);
    }
  }
}
.overlay-menu{
  position: fixed;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  top: 0;
  right: 0;
  background: linear-gradient(45deg, #9a5e28, #ffa455);
  padding: 50px 50px;
  z-index: 98;
  transform: scaleX(0);
  transform-origin: right;
  transition: all cubic-bezier(.57,.01,.45,1.03)0.5s;
  ul, li{
    list-style: none;
    a {
      text-decoration: none;
      color: transparent;
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 5px;
      -webkit-text-stroke: white;
      -webkit-text-stroke-width: 1px;
      transition: all ease 0.5s;
      &:hover{
        color: white;
      }
    }
  }
  .show{
    transform: scaleX(1);
  }
}